<!DOCTYPE html>
<html>
<<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">>
    <title>Edit Student</title>
</head>
<body>

<h1>Edit Student</h1>

<form action="/update/{{ student[0] }}" method="POST">

    Name:
    <input type="text" name="name" value="{{ student[1] }}"><br><br>

    Age:
    <input type="number" name="age" value="{{ student[2] }}"><br><br>

    Department:
    <input type="text" name="department" value="{{ student[3] }}"><br><br>

    Email:
    <input type="email" name="email" value="{{ student[4] }}"><br><br>

    <button type="submit">Update</button>

</form>

</body>
</html>