<!DOCTYPE html>
<html>
<head>

    <title>Student Management System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Student Management System</h1>

    <h2>Add Student</h2>

    <form action="/add" method="POST">

        <label>Name:</label><br>
        <input type="text" name="name"><br>

        <label>Age:</label><br>
        <input type="number" name="age"><br>

        <label>Department:</label><br>
        <input type="text" name="department"><br>

        <label>Email:</label><br>
        <input type="email" name="email"><br>

        <button type="submit">Add Student</button>

    </form>

</body>
</html>